extends layout.pug

block contents 
    if errMsg
        span=errMsg        
    form(method="POST") 
        input(placeholder="Name", name="name", type="text", required)
        input(placeholder="Email", name="email", type="email", required)
        input(placeholder="UserName", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(placeholder="PasswordCheck", name="passwordCheck", type="password", required)
        input(placeholder="Location", name="location", type="text", required)
        input(type="submit", value="Join")

    hr
    span
        a(href="/login") login
            