extends layout.pug

block contents 
    if errMsg
        span=errMsg        
    form(method="POST") 
        input(placeholder="UserName", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(placeholder="PasswordCheck", name="passwordCheck", type="password", required)
        input(type="submit", value="Login")

    hr
    span=`계정이 없으신가요? `
        a(href="/join") join
            