extends layout.pug

block contents
    div
        p=videos.description
        small=videos.createAt 

    hr        

    a(href=`${videos.id}/edit`) EDIT PAGE!
    <br><br>
    a(href=`${videos.id}/remove`) DELETE PAGE!
    

    