extends layout.pug

block contents 
    h1=`Edit Video`

    form(method="POST")
        input(name="title", placeholder="title", value=`${videos.title}`, type="text", required)
        input(name="description", placeholder="description", value=`${videos.description}`, type="text", required)
        input(name="hashtags", placeholder="hashtags", value=`${videos.hashtags.join()}`, type="text", required)
        input(value="Save", type="submit") 
