doctype html
html(lang ="ko")
    head
        title #{pageTitle} | Youtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            nav
                ul
                        li
                            a(href="/logout") Logout
                            
                    
                        li
                            a(href="/login") Login
                        
            h1=pageTitle2
        main
            block contents 
        include partials/footer.pug
        